# OS-specific
.DS_Store

# Python
*.pyc
__pycache__/

# Environment
*.env
.venv/
.env/
.env.* 

# Logs
*.log

# Django specific
staticfile/
media/
migrations/

# IDEs
.vscode/
.idea/

# Pytest cache
.pytest_cache/
