@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color: #3E3E3E;
  background: linear-gradient(135deg, #F5F5F5 0%, #EAEAEA 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
  animation: fadeInBody 1s ease-in-out;
  background: linear-gradient(135deg, #F5F5F5, #DAD7CD);
}

@keyframes fadeInBody {
  from { opacity: 0; }
  to { opacity: 1; }
}
